<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBpolA9B5RuiC9dDDbdtYSMDK02483dE6A</string>
	<key>GCM_SENDER_ID</key>
	<string>961639543233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.detectSmoke</string>
	<key>PROJECT_ID</key>
	<string>detect-smoke</string>
	<key>STORAGE_BUCKET</key>
	<string>detect-smoke.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:961639543233:ios:d72fee70b74e7fc6a7bf40</string>
</dict>
</plist>